{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="{{ url_for('history') }}" method="get">
        <fieldset>
            <div class="form-group">
                <table>
                    <tr>
                        <th>Date and time</th>
                        <th>Operation</th>
                        <th>Name</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>Value</th>
                    </tr>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date}}</td>
                        <td>{{ transaction.operation}}</td>
                        <td>{{ transaction.name }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>${{ transaction.price }}</td>
                        <td>${{ transaction.value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </fieldset>
    </form>
{% endblock %}
